
body
{
    background: #EEEEEE;
}

/*------ main-post design ------*/

.home-page .main-post
{
    border: 1px solid #d8d8d8;
    background: white;
    padding: 20px;
    margin-bottom: 30px;
}

.home-page .main-post h3
{
    margin: 0 0 10px;
    letter-spacing: -1px;
    font-weight: bold;
    color: #777777;

}

.home-page .main-post .img-post img
{
    display: block;
    margin: 10px 0 10px;
    height: 300px;
}

.home-page .main-post i
{
    color: #999999;
}

.home-page .main-post .post-content
{
    line-height: 1.7;
    color: #888888;
}

.home-page .main-post .post-author,
.home-page .main-post .post-comments,
.home-page .main-post .post-date
{
    font-size: 13px;
}
/*
.post-pagination
{
    margin: 20px auto;
    width: 400px;
    text-align: center;
}
*/
.home-page .post-pagination a,
.home-page .post-pagination span
{
    padding: 10px 20px;
    display: inline-block;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid #d4d4d4;
    -webkit-transition: all 0.4s ease-in-out ;
    -moz-transition: all 0.4s ease-in-out ;
    -o-transition: all 0.4s ease-in-out ;
    transition: all 0.4s ease-in-out ;
}

.home-page .post-pagination a:hover
{
    background: #333333;
    color: white;
    text-decoration: none;
}

.home-page .post-pagination a:first-child,
.home-page .post-pagination span:first-child
{
    float: left !important;
}

.home-page .post-pagination a:last-child,
.home-page .post-pagination span:last-child
{
    float: right !important;
}

.home-page .post-pagination span
{
    cursor: not-allowed;
    opacity: 0.6;
}

.home-page .post-pagination .fa-chevron-left
{
    margin-right: 10px;
}

.home-page .post-pagination .fa-chevron-right
{
    margin-left: 10px;
}

/*-------- end main-post design -----------*/





/*-------- single-post design -----------*/



.post-page .main-post
{
    position: relative;
    border: 1px solid #d8d8d8;
    background: white;
    padding: 20px;
    margin-bottom: 30px;
}

.post-page .main-post h3
{
    margin: 0 0 10px;
    letter-spacing: -1px;
    font-weight: bold;
    color: #777777;

}

.post-page .main-post .img-post img
{
    display: block;
    margin: 10px 0 10px;
    height: 400px;
    width: 100%;
}

.post-page .main-post i
{
    color: #999999;
}

.post-page .main-post .post-content
{
    line-height: 1.8;
    color: #888888;
}

.post-page .main-post .post-author,
.post-page .main-post .post-comments,
.post-page .main-post .post-date
{
    font-size: 13px;
}
/*
.post-pagination
{
    margin: 20px auto;
    width: 400px;
    text-align: center;
}
*/
.post-page .post-pagination a,
.post-page .post-pagination span
{
    padding: 10px 20px;
    display: inline-block;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid #d4d4d4;
    -webkit-transition: all 0.4s ease-in-out ;
    -moz-transition: all 0.4s ease-in-out ;
    -o-transition: all 0.4s ease-in-out ;
    transition: all 0.4s ease-in-out ;
}

.post-page .post-pagination a:hover
{
    background: #333333;
    color: white;
    text-decoration: none;
}

.post-page .post-pagination a:first-child,
.post-page .post-pagination span:first-child
{
    float: left !important;
}

.post-page .post-pagination a:last-child,
.post-page .post-pagination span:last-child
{
    float: right !important;
}

.post-page .post-pagination span
{
    cursor: not-allowed;
    opacity: 0.6;
}



.post-page .post-edit-link
{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background: #EEEEEE;
    border-radius: 0 0 0 10px;
}

.post-page .post-edit-link i
{
    color: #337ab7;
    margin-left: 5px;
}


/*-------- end single-post design -----------*/




/*-------- Comments list -----------*/

.comments-list ul,
.comments-list ol
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.comments-list > .comment
{
    background: #ffffff;
    padding: 10px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
}

.comments-list > .comment  > .children > .comment
{
    padding: 10px;
    background: #EEEEEE;
    margin-top: 10px;
    border: 1px solid #CCCCCC;
}

.comments-list > .comment  > .children > .comment .comment
{
    padding: 10px;
    background: #dddddd;
    margin-top: 10px;
    border: 1px solid #aaaaaa;
}



/*-------- end Comments list -----------*/






.dropdown-item.active,
.dropdown-item:active
{
    background: white; !important;
    color: #333333; !important;
}

.dropdown-item.active:hover,
.dropdown-item.active:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.footer
{
    position: fixed;
    bottom: 0;
    left: 0;
}