
body
{
    background: #EEEEEE;
    overflow-x: hidden;
}

/*------ main-post design ------*/

.home-page .main-post
{
    border: 1px solid #d8d8d8;
    background: white;
    padding: 20px;
    margin-bottom: 30px;
}

.home-page .main-post h3
{
    margin: 0 0 10px;
    letter-spacing: -1px;
    font-weight: bold;
    color: #777777;

}

.home-page .main-post .img-post img
{
    display: block;
    margin: 10px 0 10px;
    height: 300px;
}

.home-page .main-post i
{
    color: #999999;
}

.home-page .main-post .post-content
{
    line-height: 1.7;
    color: #888888;
}

.home-page .main-post .post-author,
.home-page .main-post .post-comments,
.home-page .main-post .post-date
{
    font-size: 13px;
}
/*
.post-pagination
{
    margin: 20px auto;
    width: 400px;
    text-align: center;
}
*/
.home-page .post-pagination a,
.home-page .post-pagination span
{
    padding: 10px 20px;
    display: inline-block;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid #d4d4d4;
    -webkit-transition: all 0.4s ease-in-out ;
    -moz-transition: all 0.4s ease-in-out ;
    -o-transition: all 0.4s ease-in-out ;
    transition: all 0.4s ease-in-out ;
}

.home-page .post-pagination a:hover
{
    background: #333333;
    color: white;
    text-decoration: none;
}

.home-page .post-pagination a:first-child,
.home-page .post-pagination span:first-child
{
    float: left !important;
}

.home-page .post-pagination a:last-child,
.home-page .post-pagination span:last-child
{
    float: right !important;
}

.home-page .post-pagination span
{
    cursor: not-allowed;
    opacity: 0.6;
}

.home-page .post-pagination .fa-chevron-left
{
    margin-right: 10px;
}

.home-page .post-pagination .fa-chevron-right
{
    margin-left: 10px;
}

/* bts4 pagination */
.home-page .paginate .page-numbers
{
    padding: .5rem .75rem;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.home-page .paginate .current
{
    color: #ffffff;
    background-color: #007bff;
}

.home-page .paginate .current:hover
{
    color: #ffffff !important;
    background-color: #007bff !important;
}

.home-page .paginate .page-numbers:hover
{
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

/*-------- end main-post design -----------*/




/*-------- Author infos -----------*/

.author-infos h4
{
    margin: 0 0 10px 0;
    font-weight: bold;
    color: #676767;
    font-size: 26px;
}

.author-infos h4 .nickname
{
    color: #007bff;
}

.author-infos p
{
    font-size: 15px;
    line-height: 1.5;
    color: #777;
}

.author-section
{
    border: 1px solid #d2d2d2;
    border-left:5px solid #007bff;
}

.author-section .posts-link a
{
    color: white;
    text-decoration: underline;
}

/*-------- end Author infos -----------*/



/*-------- Comments list -----------*/

.comment-counts
{
    padding:20px;
    background: #e2e2e2;
    font-size: 25px;
    font-weight: bold;
    color: #999999;
    margin-top: 0;
    border: 1px solid #d7d7d7;
}


.comments-list ul,
.comments-list ol
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.comments-list .comment img
{
    padding: 3px;
    border: 1px solid #CCCCCC;
    background: #ffffff;
    margin-bottom: 5px;
    margin-right: 5px;
}

.comments-list .comment .says
{
    display: none;
}

.comments-list .comment .comment-meta
{
    color: #9d9d9d;
    font-size: 12px;
}

.comments-list .comment p
{
    color: #656565;
    margin-top: 8px;
}

.comments-list .comment-reply-link
{
    padding: 3px 15px;
    background: #007bff;
    color: white;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid #0071da;
    transition: all 0.1s ease-in-out;
}

.comments-list .comment-reply-link:hover
{
    background: #006ce1;
    border: 1px solid #0068c9;
    text-decoration: none;
}

.comments-list > .comment /*  level 1 selector  */
{
    background: #ffffff;
    padding: 10px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
}

.comments-list > .comment  > .children > .comment /*  level 2 selector child comment  */
{
    padding: 10px;
    background: #EEEEEE;
    margin-top: 10px;
    border: 1px solid #CCCCCC;
}

.comments-list > .comment  > .children > .comment .comment
    /*  level 3 selector childs child comment */
{
    padding: 10px;
    background: #dddddd;
    margin-top: 10px;
    border: 1px solid #aaaaaa;
}

.comment-respond label
{
    display: block;
}

.comment-respond .comment-reply-title
{
    display: block;
    background: #dddddd;
    padding: 15px;
    text-align: center;
    border: 1px solid #d1d1d1;
    margin-bottom: 30px;
}





/*-------- end Comments list -----------*/


/*-------- author page -----------*/

.author-page
{

}

.author-page .author-main-info
{
    font-size: 18px;
    border: 1px solid #dedede;
    margin-bottom: 20px;
    padding: 40px 20px;
}

.author-page .author-main-info .author-name
{
    color: #666666;
    margin-top: 10px;
}

.author-page .author-main-info hr
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.author-page .author-main-info p
{
    color: #777;
    line-height: 1.6;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.author-page .profile-header
{

}

.author-page .author-stats .stats
{
    font-size: 14px;
    border: 1px solid #dedede;
    margin-bottom: 20px;
    background: white;
    padding: 20px;
    text-align: center;
}

.author-page .author-stats .stats span
{
    display: block;
    font-size: 50px;
    margin-bottom: 10px;
}

.author-page .author-posts
{
    border: 1px solid #dedede;
    border-left: 5px solid #007bff;
    box-shadow: 0 0 5px #cbcbcb;
}

.author-posts img
{
    min-width:150px;
    height: 113px;
}

.author-posts-title
{
    display: block;
    background: #d8d8d8;
    padding: 15px 24px;
    color: #909090;
    margin-bottom: 18px;
}

.author-comments-posts-title
{
    display: block;
    background: #d8d8d8;
    padding: 15px 24px;
    color: #909090;
    margin-bottom: 18px;
}

.leteast-comments
{
    border: 1px solid #dedede;
    border-right: 5px solid #007bff;
}

.border-de
{
    border: 1px solid #dedede;
    border-left: 3px solid #007bff;
}

/*-------- end author page -----------*/


/*-------- 404 page -----------*/

.page-not-found
{

}

.page-not-found img
{
    margin-top: 20px;
    width: 600px;
    height: 400px;
}

.page-not-found h1
{
    font-size: 5rem;
    margin-top: 27px;
}

.page-not-found p
{
    font-size: 40px;
}

/*-------- end 404 page -----------*/


/*-------- category page -----------*/

.category-information
{
    border: 1px solid #dedede;
}

.category-information h1
{
    color: #797979;
    font-weight: bold;
}

.category-information .category-decription p
{
    color: #4b4b4b;
    font-size: 17px;
}

.category-information .cat-satas span
{
    color: #727272;
    font-size: 17px;
}

/*-------- end category page -----------*/


/*-------- category-linux -----------*/

.linux-category .main-post
{
    padding-bottom: 10px;
}

.linux-category .main-post img
{
    height: 235px;
}

.linux-category .main-post .post-title
{
    margin: -4px 0 10px !important;
}

.linux-category .main-post .post-content
{
    margin-top: 12px;
}

.linux-category .main-post hr
{
    margin-top: 0;
    margin-bottom: 10px;
}

/*-------- end category-linux -----------*/




/*-------- single-post design -----------*/



.post-page .main-post
{
    position: relative;
    border: 1px solid #d8d8d8;
    background: white;
    padding: 20px;
    margin-bottom: 30px;
}

.post-page .main-post h3
{
    margin: 0 0 10px;
    letter-spacing: -1px;
    font-weight: bold;
    color: #777777;

}

.post-page .random-posts-title
{
    background: #dddddd;
    color: #777777;
    display: block;

}

.post-page .main-post .img-post img
{
    display: block;
    margin: 10px 0 10px;
    height: 400px;
    width: 100%;
}

.post-page .main-post i
{
    color: #999999;
}

.post-page .main-post .post-content
{
    line-height: 1.8;
    color: #888888;
}

.post-page .main-post .post-author,
.post-page .main-post .post-comments,
.post-page .main-post .post-date
{
    font-size: 13px;
}
/*
.post-pagination
{
    margin: 20px auto;
    width: 400px;
    text-align: center;
}
*/
.post-page .post-pagination a,
.post-page .post-pagination span
{
    padding: 10px 20px;
    display: inline-block;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid #d4d4d4;
    -webkit-transition: all 0.4s ease-in-out ;
    -moz-transition: all 0.4s ease-in-out ;
    -o-transition: all 0.4s ease-in-out ;
    transition: all 0.4s ease-in-out ;
}

.post-page .post-pagination a:hover
{
    background: #333333;
    color: white;
    text-decoration: none;
}

.post-page .post-pagination a:first-child,
.post-page .post-pagination span:first-child
{
    float: left !important;
}

.post-page .post-pagination a:last-child,
.post-page .post-pagination span:last-child
{
    float: right !important;
}

.post-page .post-pagination span
{
    cursor: not-allowed;
    opacity: 0.6;
}



.post-page .post-edit-link
{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background: #EEEEEE;
    border-radius: 0 0 0 10px;
}

.post-page .post-edit-link i
{
    color: #337ab7;
    margin-left: 5px;
}

/*  admin styles -*/
.post-page .bypostauthor
{
    position: relative;
}

/*  admin styles
.bypostauthor .vcard img
{
    width:120px;
}
*/
.post-page .bypostauthor:after
{
    position: absolute;
    content: 'Author';
    top:10px;
    right:20px;
    font-size: 25px;
    font-weight: bold;
    color: #bababa;
}


/*-------- end single-post design -----------*/


/*-------- sidebar linux -----------*/

.sidebar-linux
{

}

.sidebar-linux .widget
{
    background: #ffffff;
    border:1px solid #d8d8d8;
    margin-bottom: 15px;
}

.sidebar-linux .widget-title
{
    margin:0;
    padding:10px;
    background: #007bff;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.sidebar-linux .widget-content
{
    padding: 10px;
    color: #969696;
}

.sidebar-linux .widget-content ul
{
    list-style: none;
    margin: 0;
    padding-left: 5px;
}

.sidebar-linux .widget-content ul li
{
    padding-top: 3px;
    padding-bottom: 12px;
}

/*-------- end sidebar linux -----------*/


.breadcrumbs-holder
{
    background: #ffffff;
}

.breadcrumbs-holder ol
{
    background: #ffffff;
}

.dropdown-item.active,
.dropdown-item:active
{
    background: white; !important;
    color: #333333; !important;
}

.dropdown-item.active:hover,
.dropdown-item.active:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.footer
{
    /*position: fixed;*/
    bottom: 0;
    left: 0;
}