
body
{
    background: #EEEEEE;
}

/*------ post design ------*/

.main-post
{
    border: 1px solid #d8d8d8;
    background: white;
    padding: 20px;
    margin-bottom: 30px;
}

.main-post h3
{
    margin: 0 0 10px;
    letter-spacing: -1px;
    font-weight: bold;
    color: #777777;

}

.main-post .img-post img
{
    display: block;
    margin: 10px 0 10px;
    height: 300px;
}

.main-post i
{
    color: #999999;
}

.main-post .post-content
{
    line-height: 1.7;
    color: #888888;
}

.main-post .post-author,
.main-post .post-comments,
.main-post .post-date
{
    font-size: 13px;
}
/*
.post-pagination
{
    margin: 20px auto;
    width: 400px;
    text-align: center;
}
*/
.post-pagination a,
.post-pagination span
{
    padding: 10px 20px;
    display: inline-block;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid #d4d4d4;
    -webkit-transition: all 0.4s ease-in-out ;
    -moz-transition: all 0.4s ease-in-out ;
    -o-transition: all 0.4s ease-in-out ;
    transition: all 0.4s ease-in-out ;
}

.post-pagination a:hover
{
    background: #333333;
    color: white;
    text-decoration: none;
}

.post-pagination a:first-child,
.post-pagination span:first-child
{
    float: left !important;
}

.post-pagination a:last-child,
.post-pagination span:last-child
{
    float: right !important;
}

.post-pagination span
{
    cursor: not-allowed;
    opacity: 0.6;
}

.post-pagination .fa-chevron-left
{
    margin-right: 10px;
}

.post-pagination .fa-chevron-right
{
    margin-left: 10px;
}





/*-------- end post design -----------*/

.dropdown-item.active,
.dropdown-item:active
{
    background: white; !important;
    color: #333333; !important;
}

.dropdown-item.active:hover,
.dropdown-item.active:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.footer
{
    position: fixed;
    bottom: 0;
    left: 0;
}